.header {
  background: $dark;
  color: $white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;


  &__brand {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }


  &__link {
    color: $white;
    text-decoration: none;
    @include transition();


    &:hover {
      color: $primary;
    }
  }
}
.nav__menu {
  display: flex;
  gap: 2rem;

  @media (max-width: 768px) {
    display: none; // <= EL MENÚ ESTÁ OCULTO EN CELULAR
    position: absolute;
    top: 70px;
    right: 0;
    background: white;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  &--show {
    display: flex !important; 
  }
}

.nav__toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}
@media (max-width: 768px) {
  .nav__menu {
    background: white;
  }

  .nav__link {
    color: black !important; // color texto en móvil
  }
}