.header {
  background: $dark;
  color: $white;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;


  &__brand {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 1rem;
  }


  &__link {
    color: $white;
    text-decoration: none;
    @include transition();


    &:hover {
      color: $primary;
    }
  }
}