.section {
  padding: 3rem 0;
  @include container;


  &--alt {
    background: lighten($bg, 3%);
  }


  &__title {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
  }

  &__text {
    color: $muted;
  }
    &__img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 1rem;
    }
}