body {
  font-family: Arial, sans-serif;
  background: $bg;
  color: $dark;
  margin: 0;
  padding-top: 110px;
}


.reveal {
  opacity: 0;
  transform: translateY(20px);
  @include transition(0.6s);


  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}